body{
	padding:0;
	margin:0;
	font-family: 'Roboto', Arial, sans-serif;
	background:#eee;
	color:#333;
	font-size:16px;
	min-height: 100vh;
	background:url(background.jpg);
	background-size: cover;
	background-position: center;
}

.section-100{
	padding-top:100px;
	padding-bottom:100px;
}

.text-center{
	text-align: center;
}

h1.big{
	font-size:40px;
}

.countdown-box{
	padding:30px;
	margin:0 auto;
	max-width:700px;
	background:rgba(255,255,255,0.3);
	box-shadow: 0 5px 25px rgba(0,0,0,0.03);
}

.countdown-row{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.countdown-col{
	text-align: center;
}
